In [1]:
import pandas as pd
import numpy as np

<H2>Data Load and Basic Exploration with required Cleaning<H2>

In [48]:
#Data Load
file_name="Telco_churn.csv"
df= pd.read_csv(file_name)
df.shape

(7043, 21)

In [34]:
attributes=list(df.columns)
print("Attributes are :",attributes[0:len(attributes)])

Attributes are : ['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']

In [49]:
print ("Unique values :")
df.nunique()

Unique values :

customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
dtype: int64

In [50]:
for i in df.columns:
    print("Domain of ",i,":",df[i].unique())

Domain of  customerID : ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
Domain of  gender : ['Female' 'Male']
Domain of  SeniorCitizen : [0 1]
Domain of  Partner : ['Yes' 'No']
Domain of  Dependents : ['No' 'Yes']
Domain of  tenure : [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
Domain of  PhoneService : ['No' 'Yes']
Domain of  MultipleLines : ['No phone service' 'No' 'Yes']
Domain of  InternetService : ['DSL' 'Fiber optic' 'No']
Domain of  OnlineSecurity : ['No' 'Yes' 'No internet service']
Domain of  OnlineBackup : ['Yes' 'No' 'No internet service']
Domain of  DeviceProtection : ['No' 'Yes' 'No internet service']
Domain of  TechSupport : ['No' 'Yes' 'No internet service']
Domain of  StreamingTV : ['No' 'Yes' 'No internet service']
Domain of  StreamingMovies : ['No' 'Yes' 'No internet service']
Domain of  Contract : ['Month-to-month' 'One year' 'Two year']
Domain of  PaperlessBilling : ['Yes' 'No']
Domain of  PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Domain of  MonthlyCharges : [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
Domain of  TotalCharges : ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
Domain of  Churn : ['No' 'Yes']

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 660.3+ KB

In [52]:
#Churn distribution to check if classes are highly imbalance or not
#df.Churn.value_counts()
yes_count = len(df.Churn[df.Churn == 'Yes'])
no_count = len(df.Churn[df.Churn == 'No'])
yes_percent = (yes_count/(yes_count+no_count))*100
no_percent = (no_count/(yes_count+no_count))*100

print("Churn: Yes   No")
print("      ",yes_count,"",no_count)
print("      ",round(yes_percent,2),round(no_percent,2))

Churn: Yes   No
       1869  5174
       26.54 73.46

In [53]:
#Handling Missing Values- as after seeing data in Tableau, done sorting on every column only total charges has null values , csv confirmed these are missing and not written None or null.

#For Total Charges
df['TotalCharges']=df['TotalCharges'].replace(" ",np.nan)
print("No. of missing values in TotalCharges ",df['TotalCharges'].isnull().sum())

#drop those rows
if df['TotalCharges'].isnull().sum()>0:
    df=df.dropna()

#Since mnthy charges is float type and amount should be that, changing total charges to float type
df.TotalCharges = df.TotalCharges.astype('float64')
df.shape

No. of missing values in TotalCharges  11

(7032, 21)

In [55]:
#To check if there are any cutomer who has not started the service yet
df[df['tenure']<1]

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

In [ ]:
#To check if any customer billing is not been done due to system issue
df[df['Monthlycharges']<18]

In [56]:
#To check for duplicate rows
df.duplicated().sum()

0

In [57]:
#Convert senior citizen 1-0 in to Yes:No as all others are categorical features except numeric tenure, total charges and monthly charges
df['SeniorCitizen']=df['SeniorCitizen'].replace({1:"Yes",0:"No"})

#Convert churn column domain from Yes-No to binary 1-0
df['Churn']=df['Churn'].replace({"Yes":1,"No":0})

In [62]:
#Churn distribution after total charges null rows dropped and other maipulations
#df.Churn.value_counts()
yes_count = len(df.Churn[df.Churn == 1])
no_count = len(df.Churn[df.Churn == 0])
yes_percent = (yes_count/(yes_count+no_count))*100
no_percent = (no_count/(yes_count+no_count))*100

print("Churn: Yes   No")
print("      ",yes_count,"",no_count)
print("      ",round(yes_percent,2),round(no_percent,2))

Churn: Yes   No
       1869  5163
       26.58 73.42

In [59]:
df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,No,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,5575-GNVDE,Male,No,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,0
2,3668-QPYBK,Male,No,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,7795-CFOCW,Male,No,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,Female,No,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1

In [63]:
#Save manipulated data to a csv for next step of EDA
df.to_csv("Telco_churn_1")